* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visor {
  border: 50px;
  border-color: black;
}

#canvas {
  background: rgb(151, 136, 105);
  display: block;
}
